<header>
  <img
    src="assets/img/profile_pic.jpg"
    alt="Olivier Rubinger - Foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Olivier Rubinger</h1>
</header>
<aside>
  <div class="container">
    <p>Full-Stack Junior Developer | Angular/React/Next | NodeJS/NestJS</p>
    <p>Belo Horizonte, Minas Gerais, Brasil</p>
    <p>
      21-year-old Brazilian Junior Developer/Musician who loves learning new
      languages and cultures.
    </p>
    <p>
      I consider myself a natural connector, highly adaptable, and culturally
      aware. (Portuguese, English, Italian, and Spanish). I have lived in 3
      countries (Brazil, Canada, and the United Arab Emirates).
    </p>

    <nav>
      <ul>
        <li>
          <a
            href="assets/resume/olivier-resume.pdf"
            target="_blank"
            class="btn btn-primary"
          >
            Download CV
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/olivier-rubinger-4bb320170/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img
          src="assets/icons/socials/whatsapp.svg"
          alt="Icone para contato do Whatsapp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=553184121221x&text=Ol%C3%A1%20Olivier,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Send Whatsapp message:</strong>
            <p>Whatsapp: (31) 98412-1221</p></a
          >
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/socials/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:olivierrubinger@gmail.com" target="_blank">
            <strong>Send an e-mail:</strong>
            <p>olivierrubinger&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
